@import "../abstracts/variables";

$space: 1px;

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: calc(2 * 1em + 2 * $space);
  height: calc(1em + 2 * $space);

  input {
    display: none;
  }

  input:checked + .slider {
    background-color: $primaryColor;

    &:before {
      transform: translateX(1em);
    }
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $primaryColor;
  }

  .slider {
    position: absolute;
    cursor: pointer;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #ccc;
    border-radius: 0.5em;

    transition: 0.4s;

    &:before {
      position: absolute;
      content: "";

      height: 1em;
      width: 1em;
      left: $space;
      top: $space;

      background-color: white;
      border-radius: 0.5em;

      transition: 0.4s;
    }
  }
}
