.average-section {
  grid-area: average;

  justify-self: flex-start;

  position: relative;

  background: var(--primary-color);

  width: 258px;
  height: 258px;

  border-radius: 0.5rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);

  .tooltip {
    padding: 0.4rem 0.7rem;
    background: #ffffff;
    font-size: 0.8rem;
    font-weight: 500;
  }

  .tick {
    transform: translateY(-70px);
    fill: #ffffff;
    font-size: 1.2rem;
    font-weight: 500;
    opacity: 0.5;
  }

  .error {
    color: #ffffff;
  }

  @media (max-width: 1000px) {
    justify-self: unset;
  }
}
