.performance-section {
  grid-area: performance;

  width: 258px;
  height: 258px;

  background: #282d30;

  border-radius: 0.5rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);

  .error {
    color: #ffffff;
  }
}
