.score-section {
  justify-self: flex-end;

  width: 258px;
  height: 258px;

  padding: 2rem;

  background: #fbfbfb;

  border-radius: 0.5rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);

  .title {
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: #20253a;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .label {
    position: absolute;
    color: #9b9eac;
    font-size: 1.6rem;
    font-weight: 500;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
  }

  .percent {
    color: #282d30;
    font-size: 2.6rem;
    font-weight: 700;
  }

  @media (max-width: 1000px) {
    justify-self: unset;
  }
}
