.setting {
  .title {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .input-group {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
  }

  select {
    padding: 0.5rem;
  }
}
