.nav-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
}

.nav-item {
  margin: 0;
}

.nav-link {
  display: block;
}

.icon {
  display: block;
  width: 100%;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  font-size: 2em;
  font-weight: 700;

  color: var(--primary-color);
}

.no-data {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  font-size: 2em;
  font-weight: 700;

  color: var(--secondary-color);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  font-size: 1em;
  font-weight: 700;

  color: var(--secondary-color);
}
