@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ff0101;
  --secondary-color: #020203;
}

a {
  color: inherit;
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  font-family: "Roboto";
  font-size: 1.6rem;
  color: var(--secondary-color);
  height: 100%;
}

h2 {
  font-size: 4.8rem;
}

#root {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "horizontal-panel horizontal-panel"
    "vertical-panel main-content";

  height: 100%;
}

.primary-color {
  color: var(--primary-color);
}

.horizontal-panel {
  grid-area: horizontal-panel;

  display: flex;
  gap: 4rem;

  background: var(--secondary-color);
  color: #ffffff;
}

.brand {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 5.7rem;
  margin: 1.8rem 2.8rem 1.2rem 2.8rem;
}

.logo {
  display: block;
  height: 100%;

  width: auto;
}

.horizontal-menu {
  width: 100%;
  padding: 3rem 9.1rem;
  font-size: 2.4rem;
  font-weight: 500;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
}

.nav-item {
  margin: 0;
}

.nav-link {
  display: block;
}

.vertical-panel {
  grid-area: vertical-panel;
  display: flex;
  flex-direction: column;

  padding: 2.6rem;

  background: var(--secondary-color);
  color: #ffffff;

  .nav-menu {
    flex-direction: column;

    gap: 2rem;

    width: 6.4rem;
  }
}

.vertical-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.2rem;
  writing-mode: vertical-lr;

  transform: rotateZ(180deg);
}

.icon {
  display: block;
  width: 100%;
}

.main-content {
  grid-area: main-content;
}

.activity {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  border-radius: 0.5rem;
  background: #fbfbfb;
  padding: 2.4rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
}

.activity-tooltip {
  background: var(--primary-color);
  color: #ffffff;
  font-size: 0.7rem;
  padding: 0.7rem;
}

.average {
  position: relative;

  border-radius: 0.5rem;
  background: #f00;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);

  width: 258px;
  height: 258px;

  .title {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    opacity: 0.5;
    padding: 29px 34px;
    text-align: left;
  }

  .tooltip {
    padding: 0.4rem 0.7rem;
    background-color: #ffffff;
    font-size: 0.8rem;
    font-weight: 500;
  }

  .value {
    color: #000;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 24px;
  }

  .tick {
    transform: translateY(-70px);
    fill: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    opacity: 0.5;
  }
}

.performance {
  border-radius: 5px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
  width: 258px;
  height: 258px;

  margin-top: 12px;
  background: #282d30;
}

.score {
  position: relative;

  width: 258px;
  height: 258px;
  padding: 2rem;

  border-radius: 0.5rem;
  background: #fbfbfb;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);

  .title {
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: #20253a;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .label {
    position: absolute;
    color: #9b9eac;
    font-size: 1.6rem;
    font-weight: 500;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
  }

  .percent {
    color: #282d30;
    font-size: 2.6rem;
    font-weight: 700;
  }
}
